{% extends "base.html" %}
{% block content %}

<section>
<div class="callout">
    <article>
    <h1>Posts filed under {{ category }}</h1>
    </article>
</div>

{% for article in articles_page.object_list %}
    
    <article>
        <div class="post-content">
            <h1 class="post-title">
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </h1>
            <p class="meta">
            {% if article.authors %}
                {% for author in article.authors %}
                    <span class="post-author-image">
                        <img src="{{ SITEURL }}/theme/img/ak.jpg" />
                    </span>
                    <span class="post-author">{{ author }}</span>
                {% endfor %}
            {% endif %}
            <i class="fa fa-calendar"></i>
            <span class="post-date">{{ article.date|strftime('%B %d, %Y') }}</span>
            </p>
            <div class="markdown-body"> {{ article.summary }} </div>
        </div>
    </article>
    
{% endfor %}

</section>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

{% endblock content %}
