{% extends "base.html" %}
{% block content %}

<section>
{% for article in articles_page.object_list %}
{% if loop.first %}<div class="callout">{% endif %}
    
    <article>
        <div class="post-content">
            <h1 class="post-title">
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
            </h1>
            <p class="meta">
            {% if article.authors %}
                {% for author in article.authors %}
                    <span class="post-author-image">
                        <img src="{{ SITEURL }}/theme/img/ak.jpg" />
                    </span>
                    <span class="post-author">{{ author }}</span>
                {% endfor %}
            {% endif %}
            <i class="fa fa-calendar"></i>
            <span class="post-date">
            {% if article.modified %}
                {{ article.modified|strftime('%B %d, %Y') }}
            {% else %}
                {{ article.date|strftime('%B %d, %Y') }}
            {% endif %}
            </span>
            </p>
            <div class="markdown-body"> {{ article.summary }} </div>
        </div>
    </article>
    
    {% if loop.first %}</div>{% endif %}
{% endfor %}

</section>

{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}

{% endblock content %}
