/* -- imports -------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,400italic,600italic,700italic,900);


/* -- normalize ------------------------------------------------------------ */ 
html {
    box-sizing: border-box; }

* , * ::after, * ::before {
    box-sizing: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, 
section, summary {
    display: block; }


/* -- common --------------------------------------------------------------- */
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }

body {
    margin: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #002004; }

p, blockquote, ul, ol, dl, table {
    margin-top: 0px;
    margin-bottom: 18px; }

img {
    border: 0;
    max-width: 100%;
    height: auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

table {
    display: block;
    width: 100%;
    font-size: 90%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; 
    border-collapse: collapse;
    border-spacing: 0; }
    
    table th {
        font-weight: bold; }
        
    table th, table td {
        padding: 6px 13px;
        border: 1px solid #ddd; }
    
    table tr {
        background-color: #fff;
        border-top: 1px solid #ccc; }
          
    table tr:nth-child(2n) {
        background-color: #f8f8f8; }

hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none; }

a {
    color: #599ECC;
    text-decoration: none; }

    a:visited {
        color: #599ECC; }

    a:hover {
        text-decoration: underline; }

    a:focus {
        outline: thin dotted; }

    a:active, a:hover {
        outline: 0; }

h1 {
    font-size: 2em; }

h2 {
    font-family: Montserrat, "helvetica neue", sans-serif; }

b, strong {
    font-weight: bold; }

code, pre {
    font-family: monospace, serif;
    font-size: 85%; }

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0; }


/* -- index ---------------------------------------------------------------- */
.x-home {
    color: #263537;
    /*text-transform: lowercase; */}

    .x-home .home-header {
        max-width: 33.33333em;
        margin-left: auto;
        margin-right: auto; }

            .x-home .home-header::after {
                clear: both;
                content: "";
                display: table; }

            .x-home .home-header h1 {
                font-family: Montserrat, "helvetica neue", sans-serif;
                font-size: 42px;
                font-weight: 500;
                text-align: left;
                text-transform: uppercase;
                padding-left: 20px;
                margin: 60px 0 40px;
                color: #515d5f; }

            @media screen and (max-width: 33.33333em) {
                .x-home .home-header h1 {
                    margin-top: 40px;
                    margin-bottom: 20px; }
            }

    .x-home .home-toc {
        max-width: 33.33333em;
        margin-left: auto;
        margin-right: auto; }

            .x-home .home-toc::after {
                clear: both;
                content: "";
                display: table; }
            
            .x-home .home-toc .home-toc-line-year {
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 100%;
                margin: 20px 0 10px;
                padding: 5px 20px;
                border-top: 1px solid #e9ebeb;
                color: #a8aeaf;
                text-align: right;
                height: 0; }
            
            .x-home .home-toc .home-toc-line-year:last-child {
                margin-right: 0; }
            
            .x-home .home-toc .home-toc-line {
                padding: 0 20px;
                margin-bottom: 8px;
                float: left;
                display: block;
                margin-right: 2.35765%;
                width: 100%; }
            
            .x-home .home-toc .home-toc-line:last-child {
                margin-right: 0; }
            
            @media screen and (max-width: 33.33333em) {
                .x-home .home-toc .home-toc-line {
                    margin-bottom: 12px; }
            }
            
            .x-home .home-toc .home-toc-line .home-toc-date {
                float: left;
                display: block;
                margin-right: 2.5%;
                width: 20%; }
            
            .x-home .home-toc .home-toc-line .home-toc-date:last-child {
                margin-right: 0; }
            
            @media screen and (max-width: 33.33333em) {
                .x-home .home-toc .home-toc-line .home-toc-date {
                    float: left;
                    display: block;
                    margin-right: 2.35765%;
                    width: 31.76157%; }

                .x-home .home-toc .home-toc-line .home-toc-date:last-child {
                    margin-right: 0; }
            }

            .x-home .home-toc .home-toc-line .home-toc-title {
                margin-right: 0;
                float: left;
                display: block;
                margin-right: 2.5%;
                width: 75%; }
            
            .x-home .home-toc .home-toc-line .home-toc-title:last-child {
                margin-right: 0; }
            
            @media screen and (max-width: 33.33333em) {
                .x-home .home-toc .home-toc-line .home-toc-title {
                    float: left;
                    display: block;
                    margin-right: 2.35765%;
                    width: 65.88078%; }
            
                .x-home .home-toc .home-toc-line .home-toc-title:last-child {
                    margin-right: 0; }
            }
            
            .x-home .home-toc .home-toc-line .home-toc-title em {
                color: #d4d7d7;
                font-size: 0.8em; }


/* -- content -------------------------------------------------------------- */
.container, .header {
    max-width: 33.33333em;
    margin-left: auto;
    margin-right: auto; }

    .container::after, .header::after {
        clear: both;
        content: "";
        display: table; }
    
    @media screen and (max-width: 33.33333em) { 
        .container, .header {
            padding-left: 10px;
            padding-right: 10px; }
    }

.header {
    padding-top: 25px;
    padding-bottom: 25px; }

    .header .header-inner {
        overflow: hidden; }
    
    .header .header-inner .header-text a {
        font-family: Montserrat, "helvetica neue", sans-serif;
        color: #515d5f;
        font-size: 24px;
        font-weight: 400;
        text-decoration: none;
        float: left; }
    
    .header .header-inner .header-nav {
        float: right; }
    
    .header .header-inner .header-nav a {
        display: inline-block;
        padding: 5px 0 0 10px; }

.post {
    color: #515d5f;
    font-size: 18px;
    line-height: 1.6; }

    .post .post-title {
        color: #515d5f;
        font-size: 20px; }
    
    .post .post-body {
        margin-top: 10px; }
    
    .post .post-body p:first-child {
        margin-top: 0; }
    
    .post .highlight {
        padding: 15px;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 18px; }
    
    .post .highlight code {
        font-size: 14px; }
    
    .post code {
        font-family: monaco, monospace; }
    
    .post code {
        padding: 2px 4px;
        background: #e9ebeb;
        font-size: 14px;
        border-radius: 2px;
        position: relative;
        top: -1px;
        font-family: monaco, monospace; }
    
    .post blockquote {
        border-left: 3px solid #599ecc;
        margin-left: 0;
        padding-left: 30px;
        font-size: 0.9em; }



footer {
    max-width: 33.33333em;
    margin: 75px auto 0px auto; 
    padding: 10px 10px 10px 0px;
    border-top: 1px solid #e9ebeb;
    text-align: center;
}

.footer_elem {
    font-size: 0.8em;
    padding-right: 25px;
    display: inline-block;
}

.footer_elem a {
    color: #002004;
}
